html {
	box-sizing: border-box;
	font-size: 50%;
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
    background-image: url(../img/camablanca.jpg);
    background-size: cover;
}
/* Globales */
.contenedor {
	max-width: 1200px;
	width: 100%;
	margin: auto;
}
h1, h2, h3, h4 {
	font-family: 'PT Sans', sans-serif;
}
h1 {
	font-family: 'Cormorant Upright', serif!important;
	font-size: 6rem;
}
h2 {
	font-size: 4rem;
	line-height: 1.2;
}
img {
	max-width: 100%;
}
/*utilidades*/
.centrar-texto {
	text-align: center;
}
/*-------------------------------------------------------------------------------*/
/**header**/
.logo {
	margin: 1%;
	height: 30%;
	width: 23%;
	float: left;
}
/*--BARRA DE NAVEGACION E ICONOS RRSS----------------------------------------*/
.icon-bar a {
	margin-top: 1rem;
	display: inline-block;
	border-radius: 3rem;
  padding: 2rem;
  transition: all 0.3s ease;
  color: white;
  font-size: 1rem;
}
/*MENU-----------------*/
header {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 9rem;
	background: rgba(0,0,0,0.9);
	width: 100%;
	box-sizing: border-box;
}
header nav {
	float: right;
}
header nav ul {
	margin: 0 6rem 0 0;
	padding: 0;
	display: flex;
	font-size: 2rem;
}
header nav ul li {
	list-style: none;
}
header nav ul li a {
	height: 12.1rem;
	line-height: 8rem;
	padding: 1rem 5rem;
	color: #fff;
	text-decoration: none;
	display: block;
}
.menu-toggle {
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 5rem;
	cursor: pointer;
	display: none;
}
header nav ul li a:hover,
header nav ul li a.active {
	color: #fff;
	background: #BB1D27;
}
@media (max-width: 1250px) {
	.logo {
	margin: 1.5% 1% 1% 30%;
	max-width: 75%;
  max-height: 50vh;
	min-height: 7vh;
	min-width: 40%;
	}
	header {
		position: fixed;
		padding: 0 20px;
	}
	.icon-bar a {
		display: inline-block;
		line-height: 1rem;
		border-radius: 20%;
		margin-top: 0;
		padding: 1rem;
		font-size: 0.5rem;
	}
	.menu-toggle {
		margin-top: 2.5%;
		margin-right: 2%;
		display: block;
	}
	header nav {
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: #333;
		top: 100%;
		left: -100%;
		transition: 0.5s;
	}
	header nav.active {
		left: 0;
	}
	header nav ul {
		line-height: 1rem;
		margin: 0;
		padding: 0;
		display: flex;
		font-size: 1.8rem;
		display: block;
		text-align: center;
	}
	header nav ul a {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
}
/*MENU-----------------*/
@media (min-width: 1249px) {
.icon-bar a:hover {
	  background-color: rgb(232, 237, 247, 0.2);
	}
li {
	  color: white;
    display: block;
    padding: 0rem;
    text-decoration: none;
    transition-duration: 0.2s;
}
li:hover,
li:focus-within {
    background: #BB1D27;
    cursor: pointer;
}
.menu li a {
	color: white;
}
/*--MENU DROPDOWN-----------------------------------------------------------------*/
ul{
	padding: 0rem;
	margin: 0rem;
	list-style: none;
}
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
	  visibility: visible;
	  opacity: 1;
	  display: block;
}
}
/*-------------------------------------------------------------------------*/
/**imagenes main**/
.rowindex > .columnindex {
  padding: 0 0.8rem;
}
.rowindex:after {
  content: "";
  display: table;
  clear: both;
}
.columnindex {
  float: left;
	width: 25%;
}
.indeximg-arriba {
	margin-top: 3rem;
}
.indeximg-abajo {
	margin-top: 5rem;
}
.demoindex {
  opacity: 0.6;
}
.active,
.demoindex:hover {
  opacity: 1;
}
img.hover-shadow {
  transition: 0.3s;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/**contenido principal home**/
.contenedor-nosotros {
	width: 80%;
	margin: 0% 10% 10% 10%;
}
.contenido-principal {
	display: flex;
	flex-wrap: wrap;
}
div .p-somos {
	margin: 0% 2%;
}
@media only screen and (max-width:600px) {
	.contenido-principal {
		justify-content: space-between;
	}
	main p.texto-somos {
		font-size: 2rem!important;
		line-height: 3rem!important;
	}
	div .p-somos {
		margin: 3% 10% 5% 10%;
	}
}
main h1 {
	text-align: center;
	align-items: center;
}
main p.texto-somos {
	font-weight: 400;
	font-size: 3rem;
	line-height: 4rem;
}
main span {
	font-size: 6rem;
	font-family: 'Cormorant Upright', serif;
}
/**footer**/
.site-footer {
	margin-bottom: 0rem;
	background-color: rgba(0, 5, 0);
	padding: 3rem;
	margin-top: 4rem;
	text-align: center;
}
.site-footer p {
	color: #ffffff;
	font-size: 3rem;
	font-weight: 400;
	font-family: 'Cormorant Upright', serif;
}
.site-footer p span {
	font-weight: 700;
	font-size: 3rem;
}
/**---CONTACTO------------------------------------------------------------**/
.contenedor-contacto {
	max-width: 1200px;
	width: 80%;
	margin: 0% auto;
}
.alineacion-contacto {
	max-width: 80rem;
	align-items: center;
}
legend {
	font-weight: 700;
	font-size: 2.5rem;
	color: #000;
}
fieldset {
    border-radius: 2.5rem;
}
form label {
	color: #000;
	font-size: 2rem;
	font-weight: 400;
	display: block;
}
input:not([type="submit"]),
textarea,
select {
	font-size: 2rem;

	padding: 1rem;
	display: block;
	width: 100%;
	background-color: #FFE9E9;
	margin-bottom: 2rem;
	border: none;
	border-radius: 1rem;
}
textarea {
	font-family: 'Open Sans', sans-serif;
}
input[type="radio"] {
	width: auto;
	margin:0;
}
textarea {
	height: 15rem;
}
.boton-enviar {
	text-decoration: none;
	font-size: 2rem;
	font-weight: 700;
	padding: 1rem 3rem;
	margin-top:3rem;
	margin-bottom:1rem;
	text-transform: uppercase;
	border: none;
	background-color: #FFE9E9;
	border-radius: 25px;
}
.boton-enviar:hover {
	cursor: pointer;
	background-color: #fc9797;
}
.forma-contacto {
	max-width: 25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*galeria*/
* {
  box-sizing: border-box;
}
/* Position the image container (needed to position the left and right arrows) */
.contenedor-galeria {
  position: relative;
  width: 70%;
  margin-left: 15%;
  margin-top: 15%;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.rowgaleria {
	margin-top: 1.5rem;
}
.rowgaleria:after {
  content: "";
  display: table;
  clear: both;
}
/* Six columns side by side */
.columngaleria {
  float: left;
  width: 16.66%;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
/*galeria more.. */
#more {display: none;}
.button-ver span {
	font-size: 1.5rem;
}
@media only screen and (min-width:600px) {
	.button-ver span {
		font-size: 3rem;
	}
}
.button-ver {
	display: block;
  border-radius: 4px;
  background-color: #bb1d27;
  border: none;
  color: #FFFFFF;
  margin: 2rem auto;
  padding: 1.5rem;
  width: 45%;
  transition: all 0.5s;
  cursor: pointer;
}
@media only screen and (min-width:600px){
	.button-ver {
		display: block;
		border-radius: 4px;
		background-color: #bb1d27;
		border: none;
		color: #FFFFFF;
		margin: 10rem auto;
		padding: 2rem;
		width: 30%;
		transition: all 0.5s;
		cursor: pointer;
	}
}
.button-ver span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-ver span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-ver:hover span {
  padding-right: 25px;
  color: black;
}
.button-ver:hover span:after {
  opacity: 1;
  right: 0;
}
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}
.row-more {
  margin: 8px -16px;
}
/* Add padding BETWEEN each column */
.row-more,
.row-more > .column-more {
  padding: 8px;
}
/* Create four equal columns that floats next to each other */
.column-more {
  float: left;
  width: 25%;
}
/* Clear floats after rows */
.row-more:after {
  content: "";
  display: table;
  clear: both;
}
/* Content */
.content-more {
  background-color: #ffe9e9;
  padding: 10px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media only screen and (max-width:900px) {
  .column-more {
    width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width:600px) {
  .column-more {
    width: 100%;
  }
}
/* CUBRECAMA */
.flip-card {
  margin: 4.5rem 0.1rem 2rem 0.1rem;;
  background-color: transparent;
  display: inline-block;
  width: 33%;
  height: 300px;
  perspective: 1000px;
}
@media only screen and (max-width:650px) {
	.flip-card {
		margin: 4.5rem 0.2rem 2rem 2rem;
		background-color: transparent;
		display: block;
		width: 90%;
		height: 300px;
		perspective: 1000px;
	}
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #bb1d27;
  color: white;
  transform: rotateY(180deg);
}
/*PRUEBA NOSOTROS A VER SI LE GUSTA A MI BBSITA------------------------------*/
.main-productos .container-productos {
  display: inline-block;
}
main .h1-productos {
	margin-top: 8%;
	text-align: center;
	align-items: center;
}
.container-productos {
  margin: 6% 6.5% 4% 6.5%;
  position: relative;
  width: 20%;
}
.image1, .overlay1 {
  margin: 0%;
}
.image, .image1 {
  width: 100%;
  height: auto;
	border-radius: 3rem;
}
.overlay-productos {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
	background-color: #BB1D27;
}
.text {
  color: white;
  font-size: 3rem;
  position: relative;
	margin-top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay-productos a {
	font-family: 'Cormorant Upright', serif!important;
	text-decoration: none;
}
@media (min-width: 990px) {
	.container-productos:hover .overlay-productos {
        opacity: 1;
        border-radius: 3rem;
	}
}
@media (max-width: 990px) {
	.image, .image1 {
		opacity: 0.7;
	}
	main .h1-productos {
		font-size: 4.5rem;
		margin-top: 20%;
		text-align: center;
		align-items: center;
	}
  .image, .image1 {
	  display: block;
	  width: 100%;
	  height: auto;
}
  .container-productos {
	  margin: 0% 30% 3% 30%!important;
	  position: relative;
	  width: 40%;
}
.text {
		font-size: 2.3rem;
}
.centered {
		-webkit-text-stroke: 1px #760000;
		color: #bb1d27;
		font-weight: 700;
		height: 100%;
		width: 100%;
		margin-top: 30%;
		text-align: center;
}
.centered1 {
		height: 100%;
		width: 100%;
		text-align: center;
}
.centered1 {
		height: 100%;
		width: 100%;
		font-size: 3rem;
		font-family: 'Cormorant Upright', serif!important;
	  position: absolute;
	  margin-top: 40%;
	  left: 50%;
	  transform: translate(-50%, -50%);
}
}
.centered {
		height: 100%;
		width: 100%;
		font-size: 3.2rem;
		font-family: 'Cormorant Upright', serif!important;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
}
@media (min-width: 1250px) {
	.centered1, .centered {
		visibility: hidden;
	}
}
@media (max-width:1250px) and (min-width:601px) {
	.centered {
			-webkit-text-stroke: 1.5px #000;
			font-size: 5rem!important;
			height: 100%;
			width: 100%;
			margin-top: 40%;
			text-align: center;
			top: 50%;
		  left: 50%;
	}
	.centered1 {
			height: 100%;
			width: 100%;
			position: absolute;
		  top: 50%;
		  left: 50%;
			text-align: center;
	}
	.text {
			font-size: 3rem;
	}
}
